# Server and OS
.DS_Store
.htaccess
.well-known
.ftpquota

# Node
node_modules/

# Composer
/vendor
/src/Dependencies

# Compiled assets
/assets/dist

# IntelliJ IDEA
.idea/

# `act` local development tool
.secrets
.vars

# Testing
.phpunit.result.cache
.phpunit.cache
coverage-report/
